#ContactPage-container {
    display: flex;
    justify-content: space-around;
    padding: 1.25rem;
    flex-wrap: wrap;
    height: 100vh;
}

#ContactPage-form {
    width: fit-content;
    padding:0.625rem;
    background-color: palevioletred;
    border: 0.3125rem solid rgb(238, 93, 231);
    border-radius: 1.875rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContactPage-form form {
    display: flex;
    flex-direction: column;
}

#ContactPage-form label {
    margin-top: 0.625rem;
}

#ContactPage-form input, #ContactPage-form textarea {
    margin-top: 0.3125rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ccc;
}

#ContactPage-form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#submit{
    width:fit-content;
}

/* Media queries for responsiveness */
@media  screen and (min-width:300px) and (max-width:800px) {
    #ContactPage-container {
     padding: auto;
    }
}
