#ProjectPage-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
}
#main-container{
    background-color: rgb(227, 59, 115);
    height: fit-content;
    padding:10px;
    color: pink;
}

.ProjectPage-card {
    width: 18.75rem;
    height: 25rem;
    margin: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 33%;
    justify-content: space-between;
    padding: 1.25rem;
    overflow-y: auto;
    color: white;
    border: 0.3125rem solid palevioletred;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.1),
    inset 0 -2px 1px rgba(0, 0, 0, 0.9),
    inset 0 2px 1px rgba(255, 255, 255, 0.3);
    background-color: rgb(193, 38, 64);
    transition: transform 3s ease-in-out;
}
.ProjectPage-card:hover{
    transform:scale3d(2);
}

/* width */
::-webkit-scrollbar {
    width: 0.3125rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3125rem grey;
    border-radius: 0.625rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: royalblue;
    border-radius: 0.625rem;
}

.ProjectPage-card img {
    width: 100%;
    height: 18.75rem;
    border-radius: 0.625rem;
}

.ProjectPage-card p {
    text-align: justify;
}
.Project-links{
    text-decoration: none;
    background-color: black;
    color:#ffff;
    font-size: 1rem;
    padding: 0.625rem;
}
@media screen and (min-width:300px) and (max-width:800px){
    #ProjectPage-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0%;
    }
    .ProjectPage-card{
        display: flex;
        justify-content: left;
        min-width: fit-content;
        height: fit-content;
    }

}