#Footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    background-color: palevioletred;
    color: aliceblue;
}
#Footer-container p{
    font-size: 1.5625rem;
    display: flex ;
    justify-content: center;
    padding:0.625rem;
    color: white;
}
