body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(C:\Users\Ansh\Documents\Ansh-Dulewale-Portfolio\portfolio\src\components\Images\Background\Background.jpg);
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.float-effect {
  animation: float 2s ease-in-out infinite;
}



